* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
}

.map {
  height: 100%;
}
.cat {
  position: absolute;
  right: 0;
  width: 5%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.game-info {
  background-color: pink;
  flex: 1;
}

.game-info-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  background-color: green;
  border: 1px solid black;
  z-index: 5;
}

ol a {
  display: inline-block;
  line-height: 40px;
}

ol li {
  position: relative;
}

ol {
  list-style-position: inside;
}

ol li:hover nav {
  display: block;
  display: flex;
  gap: 10px;
}

.card {
position: relative;
}

.color-card {
  background-color: yellow;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.card-info {
  display: none;
  left: 0;
  top: 50px;
  position: absolute;
  width: 300px;
  background-color: rgb(120, 120, 245);
  border: 1px solid black;
  border-radius: 5px;
  z-index: 6;
}

.card:hover .card-info{
  display: block;
}
