@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
}

.map {
  height: 100%;
}
.cat {
  position: absolute;
  right: 0;
  width: 5%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.game-info {
  background-color: #d6b5d0;
  flex: 1;
}

.game-info-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #f9f0e6;
  border: 1px solid black;
  z-index: 5;
}

ol a {
  display: inline-block;
  line-height: 40px;
}

.player-name {
  font-size: 20px;
}

ol li {
  position: relative;
}

ol {
  list-style-position: inside;
}

ol li:hover nav {
  display: block;
  display: flex;
  gap: 10px;
}

.card {
position: relative;
margin: 0 auto;
display: flex;
}

.color-card {
  background-color: yellow;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid black;
}

.card-info {
  display: none;
  left: 0;
  top: 50px;
  position: absolute;
  width: 300px;
  background-color: #d1a276;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 6;
}

.priceforhome {
  border-top: 1px solid black;
}

.card:hover .card-info{
  display: block;
}

#dices {
  position: absolute;
  background-color: red;
  display: flex;
  gap: 10px;
  font-size: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dices img {
  width: 65px;
}