@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
}

.map {
  height: 100%;
}
.cat {
  position: absolute;
  right: 0;
  width: 5%;
  bottom: 0;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.game-info {
  background-color: #d6b5d0;
  flex: 1;
}

.game-info-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #f9f0e6;
  border: 1px solid black;
  z-index: 5;
}

ol a {
  display: inline-block;
  line-height: 40px;
}

.player-name {
  font-size: 20px;
}

ol li {
  position: relative;
}

ol {
  list-style-position: inside;
}

ol li:hover nav {
  display: block;
  display: flex;
  gap: 10px;
}

.card {
position: relative;
margin: 0 auto;
display: flex;
}

.color-card {
  background-color: yellow;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid black;
}

.card-info {
  display: none;
  left: 0;
  top: 50px;
  position: absolute;
  width: 300px;
  background-color: #d1a276;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 6;
}

.priceforhome {
  border-top: 1px solid black;
}

.card:hover .card-info{
  display: block;
}

#dices {
  position: absolute;
  background-color: red;
  display: flex;
  gap: 10px;
  font-size: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dices img {
  width: 65px;
}

/* PopUp */

.popUp {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.popUp form {
  max-width: 700px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.217);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.173);
}

.popUp form h1 {
  margin-bottom: 10px;
}

.streetName {
  margin: 10px 0 10px 0;
}

.streetPrice {
  margin: 10px 0 10px 0;
}

.popUpBtn {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}

.popUpBtn button {
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.25s;
}

.popUpBtn button:first-child {
  background-color: #5cb65e;
}

.popUpBtn button:last-child {
  background-color: #eb5d62;
}

.popUpBtn button:hover:first-child {
  box-shadow: 0 0 10px #5cb65e;
}

.popUpBtn button:hover:last-child {
  box-shadow: 0 0 10px #eb5d62;
}

/* chance */

.chances {
  display: flex;
  flex-wrap: wrap;
}

.chance {
  width: 50%;
  /* background-image: ; */
}